@mixin button($color: green, $hoverColor: black, $size: 24px)
  transition: 0.4s all
  background: none
  border: none
  cursor: pointer
  span
    font-size: $size
  &:hover
    background: rgba(0, 0, 0, .15)
    span
      color: $hoverColor
  &:active
    background: none
    span
      color: $color
  &:focus
    outline: none