@mixin button($color: green, $hoverColor: black, $size: 24px)
  transition: 0.4s all
  background: none
  border: none
  cursor: pointer
  span
    font-size: $size
  &:hover
    background: rgba(0, 0, 0, .15)
    span
      color: $hoverColor
  &:active
    background: none
    span
      color: $color
  &:focus
    outline: none
@mixin column($borderColor: lightslategrey, $width: 30px)
  width: $width
  min-width: 30px
  min-height: 25px
  font-size: 1.3rem
  color: lightslategrey
  border: 1px solid $borderColor
  border-top: none
  border-left: none
  line-height: 22px

@mixin resize($cursor-type, $after-height: auto, $after-width: auto)
  position: absolute
  cursor: $cursor-type
  &:after
    display: none
    content: ''
    position: absolute
    height: $after-height
    width: $after-width
    background-color: dodgerblue
  &:hover
    background-color: dodgerblue
  &:active
    background-color: dodgerblue
    z-index: 4
    &:after
      display: block