
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')
@import "~normalize.css"

@import "excel/header"
@import "excel/toolbar"
@import "excel/formula"
@import "excel/table"
@import "excel/row"
@import "dashboard/header"
@import "dashboard/new"
@import "dashboard/list"

*
  font-family: 'Roboto', sans-serif
  font-size: 12px
  padding: 0
  margin: 0
  box-sizing: border-box

.excel
  padding: .7rem

