@import "src/sass/variables"
@import "src/sass/mixins"

.row
  display: flex
  flex-direction: row
  &__index
    @include column(grey)
    position: relative
    text-align: center
    min-width: 3rem
    background-color: #F8F9FA
    .index
      width: 100%
      height: 20px
  &__resize
    @include resize(ns-resize, .3rem, 55vw)
    bottom: 0
    width: 100%
    height: .3rem
